# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
localstack_providers_override.tf

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Build artifacts
dist/
*.zip

# OS
.DS_Store
